*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
  color: inherit;
}

button{
  background: transparent;
  border: none;
}

:root{
  --background: #161c21;
  --background-secondary: #2C2C30;
  --primary: #15E9DA;
  --danger: #FD5D5C;
  --light: #fff;
  --light: #bbb;
}

main{
  background: var(--background);

  height: 100vh;
  width: 100vw;
  overflow: hidden;

  display: grid;
  grid-template-areas: 'SIDEBAR CONTAINER';
  grid-template-columns: 4.5rem auto;
}

aside{ grid-area: SIDEBAR; }
.container{ grid-area: CONTAINER; }

@media(max-width: 500px){
  main{
    grid-template-columns: 1fr;
    grid-template-rows: 4.5rem auto;
    grid-template-areas: 'SIDEBAR' 'CONTAINER';
  }
}